@model GreenOxPOS.Models.Order
@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <table style="text-align: center;">
            <tr>
                <th width="60%">Name</th>
                <th width="20%">Quantity</th>
                <th width="20%">Price</th>
            </tr>
            @for (int i = 0; i < ViewBag.Product.Count; i++)
            {
                <tr>
                    <td style="text-align: left;"><p>@ViewBag.Product[i].ProductName</p></td>
                    <td>@ViewBag.Quantity[i]</td>
                    <td>@(ViewBag.Quantity[i] * ViewBag.Product[i].Price)</td>

                </tr>
            }
        </table>

        <hr />
        @if (ViewBag.Amount[0] > 0)
        {
            <div class="caption">

                <table style="text-align: center;">
                    <tr>
                        <th width="50%">Discount</th>
                        <th width="50%">@ViewBag.Amount[0]</th>

                    </tr>
                </table>

            </div>
        }
        <div class="caption">
            <table style="text-align: center;">
                <tr>
                    <th width="50%">Payment</th>
                    <th width="50%">@ViewBag.Amount[1]</th>

                </tr>
            </table>


        </div>
        <hr />
        <div class="caption">

            <p>GreenOx-Please Visit Again</p>

        </div>
    </div>
</div>
